:root {
   --ff-heading: 'Jim Nightshade', cursive;
   --ff-body: 'Cambay', sans-serif;
   
}

html {
   font-family: var(--ff-body);
   font-size: 62.5%;
   line-height: 1.6;
   margin: 0;
   text-align: center;
}

h1, h2 {
   font-family: var(--ff-heading);
}

h1 {
   font-size: 7rem;
}

h2 {
   font-size: 4rem;
}

p, button {
   font-size: 2rem;
}

button {
   border: 0;
   padding: 15px 30px;
}