:root {
   --ff-heading: 'Jim Nightshade', cursive;
   --ff-body: 'Cambay', sans-serif;
   --accent-color: rgba(179, 155, 121, 1);
}

html {
   font-family: var(--ff-body);
   font-size: 62.5%;
   line-height: 1.6;
   margin: 0;
   text-align: center;
}

h1, h2 {
   font-family: var(--ff-heading);
}

h1 {
   font-size: 7rem;
   margin: 30px 0;
   text-shadow: 1px 1px 8px black, 1px 1px 6px white;
   background-color: rgba(179, 155, 121, 0.7);
}

h2 {
   font-size: 4rem;
   margin: 20px 0;
}

p, button {
   font-size: 2rem;
}

button {
   border: 0;
   border-radius: 30px;
   padding: 15px 30px;
   background-color: white;
   box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
   transition: all 300ms;
   &:hover, &:active {
      box-shadow: 10px 7px 7px 0 rgba(0,0,0,0.75);
      transform: translateY(2px);
   }
   &:focus {
      border: 2px solid blue;
   }

}

@media (max-width: 500px) {
   h1 {
      font-size: 6rem;
   }
}

@media (max-width: 380px) {
   h1 {
      font-size: 5.2rem;
   }
}