main {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: ". center ."
                        ". bottom .";

}

.centerContainer {
    grid-area: center;
}

.bottomContainer {
    grid-area: bottom;
}

.optionsContainer {
    display: none;
    // border: 2px solid black;
    // height: 400px;
}

.options {
    height: 60px;
}

.counterContainer {
    display: none;
}

.resultContainer {
    display: none;
}

.resetContainer {
    display: none;
}