body {
    background-image: url(../assets/liamTruong.jpg);
    background-size: cover;
    background-position: center;
}

header {
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 70px;
    align-items: center;
}

.timer {
    display: none;
    padding: 5px 13px 5px 9px;
    font-size: 6rem;
    font-family: var(--ff-heading);
    filter: drop-shadow(1px 2px 3px #000);
}

main {
    min-height: calc(70vh - 45px);
    display: grid;
    grid-template-columns: 1fr minmax(300px, auto) 1fr;
    grid-template-rows: minmax(300px, auto) auto 30px;
    grid-template-areas: ". center ."
                        ". bottom ."
                        ". . .";
}

.centerContainer {
    grid-area: center;
    display: grid;
    align-content: center;
    padding: 20px;
    background-color: white;
    opacity: 85%;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px #000;
}

.bottomContainer {
    grid-area: bottom;
    margin-top: 30px;
}

.optionsContainer {
    display: none;
    grid-gap: 15px;
    button {
        cursor: pointer;
        opacity: 1;
    }
}

.options {
    height: 62px;
}

.counterContainer {
    display: none;
    justify-content: center;
    background-color: white;
    box-shadow: inset 0px 0px 5px #000;
    opacity: 85%;
    border-radius: 30px;
    p {
        padding-right: 10px;
    }
}

.resultContainer {
    display: none;
}

.resetContainer {
    display: none;
}

footer {
    height: 45px;
    position: relative;
    background-color: var(--accent-color);
}

footer::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/transparentTengwar.png');
    filter: drop-shadow(20px 5px 2px #000);
}


@media (max-width: 619px) {
    header {
        height: 40vh;
    }
    
    main {
        min-height: calc(60vh - 45px);
    }
}

@media (max-width: 500px) {
    header {
        height: 35vh;
    }
    
    main {
        min-height: calc(65vh - 45px);
    }
}

@media (max-width: 430px) {
    header {
        height: 33vh;
    }
    
    main {
        height: calc(67vh - 45px);
        grid-template-columns: 1fr 300px 1fr;
    }

}

@media (max-width: 380px) {
    header {
        height: 30vh;
        grid-template-rows: 1fr 50px;
    }

    main {
        height: calc(70vh - 38px);

    }

    .timer {
        margin-bottom: 7px;
        font-size: 4.5rem;
    }

    .instructions {
        p {
            margin: 10px 0;
        }
    }

    .bottomContainer {
        margin-top: 10px;
    }

    footer {
        height: 38px;
    }
}